/* Normalize.css
-------------------------- */
@import 'normalize.css';

/* Element Plus
-------------------------- */
// Import Element Plus styles via JavaScript in main.js

/* Theme Light (default)
-------------------------- */
@import './Default.scss';

/* Theme Dark
-------------------------- */
@import './Dark.scss';
